<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="HANDBALL" content="width=device-width, initial-scale=1.0">

    <title>marzouk</title>
    
<body>
    <h1>Data from omeka api</h1><br><br>
	<div class="container centered">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
    <div id="table">
  
    <table  "table table-striped" cellpadding=12 cellspacing=4 >
  <thead class="thead-dark">
<tr>
<th scope="col">joueur</th>
<th scope="col">division</th>
<th scope="col">equipe</th>
 <th scope="col">poste</th>
 <th scope="col">maillot</th>
</tr>
  </thead>
    <tbody id='tt'>

    </tbody>
</table>
</div> 
</div> 
</div> 
</body>

<script src="test.js"></script>
</html>
